# pip install -r requirements.txt

# YOLOv8 --------------------------------------
ultralytics

# Streamlit -----------------------------------
streamlit
streamlit_autorefresh
streamlit_webrtc

# Intel optimization -------------------------
torch
intel-extension-for-pytorch 
openvino

# Base ----------------------------------------
av
numpy
opencv-python-headless
stqdm
deep-sort-realtime

#setuptools

